{%extends "main.html" %}
{% load static %}
{%block listbox%}
        <div class="container-fluid">

            <div class="row" align="center">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <h1 style="font-weight: lighter;">Мои покупки</h1>

                    <hr>

                </div>

            </div>


            <div class="row">

                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">

                    <table class="table table-striped" align="center" style="text-align: center;">
 
                       <thead align="center">

                            <tr>

                                <th style="text-align: center; width: 20%;">номер заказа</th>

                                

                                <th style="text-align: center;">Название</th>

                                <th style="text-align: center; width: 10%;">Количество</th>

                                <th style="text-align: center;">Цена</th>

                            </tr>

                        </thead>

                        <tbody>


{%for p in    buy %}
                         <tr>

                                <td>{{p.num_order}}</td>

                               

                                <td>{{p.goods_id.title}}</td>

                                <td>{{p.num_items}}</td>

                                <td>{{p.goods_id.price}}</td>

                           </tr>

{%endfor%}                                                                                  <tr>

                                
                            </tr>
 
                        </tbody>

                    </table>

                </div>

            </div>


            <hr>


            <div class="row">

                
           </div>


            <div class="row" align="center">

                <h4>Возможно вам будут интересны:</h4>
 
            </div>


            <div class="row" align="center">

              {% for p in perfect_goods %}
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                    <div class="panel panel-default">

                        <div class="panel-body">

                            <h5>

                               {{p.goods_id.title}}
                           </h5>

                            <img src="{% static p.goods_id.picture_id.url%}" width="180px">

                            <a   href="/auth/in_basket/{{p.goods_id.id}}/" class="btn btn-success btn-sm" data-container="body" data-toggle="popover" data-placement="top" data-content="Товар добавлен в корзину">

                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>В корзину

                            </a>

                        </div>

                    </div>
                </div>

                       {%endfor%}                                </div>

        </div>



           
                  

                        {%endblock%}